
<div class="card">
    <button type="button" pButton pRipple label="Activate Last" class="mb-3"></button>
</div>


<div class="row">
    <h2 style="text-align: center;"> Lista de leitos </h2>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="text-align: center;">ID</th>
            <th style="text-align: center;">MÉDICO RESPONSÁVEL</th>
            <th style="text-align: center;">PACIENTE </th>
            <th style="text-align: center;">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let leito of leitos">
            <td>{{ leito.id }}</td>
            <td>{{ leito.id_Medico }}</td>
            <td>{{ leito.id_paciente }}</td>
            <td style="text-align: center;">
                <button mat-raised-button style="background-color: red;">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>
<div style="text-align: right;">
    <button mat-button style="background-color: lightgreen;" (click)="mudarRota()">Cadastrar Aluno</button>
</div>