<div class="row">
    <h2>Lista de Leitos</h2>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id Leitos</th>
            <th>Dispinibilidade</th>
            <th>Id_paciente</th>
            <th>Id_medico</th>
        </tr>
    </thead>
    <tbody>
        <ul *ngFor="let leitos of leito">
            <li>{{leitos.Id}}</li>
            <li>{{leitos.disponivel}}</li>
            <li>{{leitos.medico}}</li>
            <li>{{leitos.paciente}}</li>
        </ul>
    </tbody>
</table>
