<body>
    <br>
    <header>
        <button (click)="adicionarleito()">ADICIONAR LEITO</button>
        <button (click)="adicionarPaciente()">ADICIONAR PACIENTE</button>

        <button (click)="mostrarMedicos()">LISTA DE MÉDICOS</button> 
        <button (click)="mostrarPaciente()">LISTA DE PACIENTE</button>
        <button (click)="mostrarLeitos()">MOSTRAR LEITOS</button>

    </header>
    <br><br>

    <div class="container">
        <div class="flex"></div>
        <div class="row">
            <div class="card col-md-6 offset-md-3 offset-md-3">
                <div class="row">
                    <h3 class="text-center"> Cadastrar Médico </h3>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit()">

                            <div class="form-group">
                                <label> Nome</label>
                                <input type="text" class="form-control" id="nome" [(ngModel)]="medico.nome"
                                    name="nome">
                            </div>

                            <div class="form-group">
                                <label> Especialidade </label>
                                <input type="text" class="form-control" id="especialidade" [(ngModel)]="medico.especialidade"
                                    name="especialidade">
                            </div>

                            <br />
                            <button class="btn btn-success" type="submit">Submit</button>

                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>  
</body>