<div class="row">
    <h2 style="text-align: center;"> Lista de medicos </h2>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="text-align: center;">ID</th>
            <th style="text-align: center;">NOME</th>
            <th style="text-align: center;">ESPECIALIDADE</th>
            <th style="text-align: center;">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let medico of medicosList">
            <td>{{ medico.id }}</td>
            <td>{{ medico.nome }}</td>
            <td>{{ medico.especialidade }}</td>

            <td style="text-align: center;">
                <button mat-raised-button style="background-color: red;">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>
<div style="text-align: right;">
    <button mat-button style="background-color: lightgreen;" (click)="mudarRota()">Cadastrar paciente</button>
</div>