<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Cadastrar Leito </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Médico responsável</label>
                        <input type="text" class="form-control" id="medico" [(ngModel)]="leito.medico"
                            name="medico">
                    </div>

                    <div class="form-group">
                        <label> Paciente a ser atendido </label>
                        <input type="number" class="form-control" id="paciente" [(ngModel)]="leito.paciente"
                            name="idade">
                    </div>

                    <div class="form-group">
                        <label> Leito disponivel </label>
                        <input type="text" class="form-control" id="cpf" [(ngModel)]="leito.disponivel"
                            name="cpf">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
<button (click)="mudarRota()"></button>