
<body>
    <div class="row">
        <h2 style="text-align: center;"> Informações dos leitos </h2>
    </div>
    <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="text-align: center;">ID</th>
            <th style="text-align: center;">MÉDICO RESPONSÁVEL</th>
            <th style="text-align: center;">ESPECIALIDADE DO MÉDICO </th>
            <th style="text-align: center;">NOME DO PACIENTE</th>
            <th style="text-align: center;">IDADE DO PACIENTE </th>
            <th style="text-align: center;">GÊNERO DO PACIENTE </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let leito of leitos">
            <td>{{ leito.id }}</td>
            <td>{{ leito.medico.nome}}</td>
            <td>{{ leito.medico.especialidade}}</td>   
            <td>{{ leito.paciente.nome}}</td>
            <td>{{ leito.paciente.idade}}</td>
            <td>{{ leito.paciente.sexo}}</td>
        </tr>
    </tbody>
</table>
<div style="text-align: right;">
    <button mat-button style="background-color: lightgreen;" (click)="mudarRota()">Cadastrar Aluno</button>
</div>
</body>
